{% extends 'layout.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="main-paper">
        <h1 class="all-h1">Все о машинах</h1>
    </div>
    <div class="under-main">
        <h2>На данном сайте вы статьи о машинах, <br><br> о различных марках модельях</h2>
        <div class="car">
            <img src="https://frankfurt.apollo.olxcdn.com/v1/files/09ma1ho3bxtu2-KZ/image;s=1000x666" alt="">
            <img src="https://a.d-cd.net/sdyFVltn2r6ATmy6v4BDM2XyCAI-1920.jpg" alt="">
            <img src="https://a.d-cd.net/79d950es-1920.jpg" alt="">
        </div>
    </div>
    
{% endblock %}